* {
    box-sizing: border-box;
}

header {
    background-image: url("./images/Triple.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #1c2541;
    margin: 2px;
    max-width: 100%;
    height: 100px;
    text-align: center;
    color: #6fffe9;
    font-size: 18px;
    font-weight: 200;
}

nav {
    text-align: right;
    margin: 10px;
    padding: 4px;
}

@font-face {
    font-family: "PixelifySans";
    src: url("./Fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf");
}

body {
    background-color: black;
    font-family: PixelifySans, sans-serif;
    color: white;
    /*display: flow-root;*/
}

article {
    border: 5px solid #1c2541;
    margin: 2px;
}

#img1 {
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 10px;
}

.Video {
    width: 400px;
    height: 225px;
    display: block;
    margin: 0 auto;
    border: 5px solid #1c2541;
}

.Audio {
    float: right;
    /*border: 5px solid #1c2541;*/
}

h3 {
    background-color: #3a506b;
    color: #6fffe9;
    font-size: 22px;
    font-weight: 800;
    border: 5px; /*solid #e4c1f9;*/
    margin: 2px;
    padding: 6px;
    /*
        font-family: Arial
        color: red;
        font-size: 50px;
        font-weight: bold or number between 100-900
        font-style: italic;
        text-align: left, right, centre, justify;
    */
}

p, ul, li {
    margin: 6px;
    padding: 4px;
    font-size: 16px;
}

footer {
    background-color: #3a506b;
    text-align: center;
    color: #6fffe9;
    border: 5px solid #1c2541;
    margin: 2px;
}

/* 
    Comments 
*/

