body {
    background-color: #CAF0F8;
}

.Video {
    width: 400px;
    height: 225px;
    display: block;
    margin: 0 auto;
}

h1 {
    background-color: #03045E;
    text-align: center;
    color: white;
}

.Image-Triple {
    position: relative;
    text-align: center;
    color: white;
}
  
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
  
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
  
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
  
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
  
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    background-color: #0077B6;
    color: white;
    /*
        font-family: Arial
        color: red;
        font-size: 50px;
        font-weight: bold or number between 100-900
        font-style: italic;
        text-align: left, right, centre, justify;
    */
}

footer {
    background-color: #00B4D8;
    text-align: center;
    color: white;
}

/* 
    Comments 
*/

